[Unit]
Description=x11 server
 
[Service]
Type=simple
User=root
ExecStart=/bin/bash -c "source /.env; exec bash /entry.sh"
 
[Install]
WantedBy=multi-user.target
