[Unit]
Description=x11 server
 
[Service]
Type=simple
User=root
ExecStart=/bin/bash -c "source /env.txt; exec bash /entry.sh"
 
[Install]
WantedBy=multi-user.target
