[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=ibus-daemon
Comment=
Exec=ibus-daemon -drx
#OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false