[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=tint2
Comment=
Exec=tint2
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false

