[Unit]
Description=x11 server
 
[Service]
Type=simple
User=root
#supervisord -n > go-supervisord
ExecStart=/bin/bash -c "source /.env; exec go-supervisord"
[Install]
WantedBy=multi-user.target
