[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=PulseAudio Volume Control
Name[as]=PulseAudio শব্দৰ মাত্ৰা নিয়ন্ত্ৰণকাৰী
Name[bn_IN]=PulseAudio শব্দের মাত্রা নিয়ন্ত্রণ ব্যবস্থা
Name[ca]=Control del volum del PulseAudio
Name[cs]=Ovládání hlasitosti PulseAudio
Name[da]=Lydstyrkekontrol for PulseAudio
Name[de]=PulseAudio-Lautstärkeregler
Name[el]=Έλεγχος έντασης ήχου PulseAudio
Name[es]=Control de Volumen de PulseAudio
Name[fi]=PulseAudion äänenvoimakkuuden hallinta
Name[fr]=Contrôle du volume PulseAudio
Name[gu]=PulseAudio વોલ્યુમ નિયંત્રણ
Name[hi]=पल्सऑडियो ध्वनि नियंत्रण
Name[hu]=PulseAudio hangerőszabályzó
Name[it]=Regolazione del volume PulseAudio
Name[ja]=PulseAudio 音量調節
Name[kn]=PulseAudio ಧ್ವನಿ ಪ್ರಮಾಣ ನಿಯಂತ್ರಣ
Name[ml]=പള്‍സ്ഓഡിയോ ശബ്ദ നിയന്ത്രണം
Name[mr]=PulseAudio आवाज नियंत्रण
Name[nl]=PulseAudio-volumeregeling
Name[or]=PulseAudio ଭଲ୍ୟୁମ ନିୟନ୍ତ୍ରଣ
Name[pa]=ਪਲੱਸਆਡੀਓ ਵਾਲੀਅਮ ਕੰਟਰੋਲ
Name[pl]=Kontrola głośności PulseAudio
Name[pt]=Controlo de Volume PulseAudio
Name[pt_BR]=Controle de volume do PulseAudio
Name[ru]=Регулятор громкости PulseAudio
Name[sk]=Ovládanie hlasitosti PulseAudio
Name[sr]=PulseAudio контрола јачине звука
Name[sr@latin]=PulseAudio kontrola jačine zvuka
Name[sv]=Volymkontroll för PulseAudio
Name[ta]=PulseAudio ஒலியளவு கட்டுப்பாடு
Name[te]=PulseAudio ధ్వని నియంత్రణ
Name[th]=ตัวควบคุมเสียง PulseAudio
Name[tr]=PulseAudio Ses Denetimi
Name[uk]=Керування гучністю PulseAudio
Name[zh_CN]=PulseAudio 音量控制
GenericName=Volume Control
GenericName[as]=শব্দৰ মাত্ৰা নিয়ন্ত্ৰণকাৰী
GenericName[bn_IN]=শব্দের মাত্রা নিয়ন্ত্রণ
GenericName[ca]=Control del volum
GenericName[cs]=Ovládání hlasitosti
GenericName[da]=Lydstyrkekontrol
GenericName[de]=Lautstärkeregler
GenericName[el]=Έλεγχος έντασης ήχου
GenericName[es]=Control de Volumen
GenericName[fi]=Äänenvoimakkuus
GenericName[fr]=Contrôle du volume
GenericName[gu]=વોલ્યમ નિયંત્રણ
GenericName[hi]=आवाज निर्धारक
GenericName[hu]=Hangerőszabályzó
GenericName[it]=Regolazione del volume
GenericName[ja]=音量調節
GenericName[kn]=ಧ್ವನಿಪ್ರಮಾಣ ನಿಯಂತ್ರಣ
GenericName[ml]=ശബ്ദ നിയന്ത്രണം
GenericName[mr]=आवाज नियंत्रण
GenericName[nl]=Volumeregeling
GenericName[or]=ଭଲ୍ୟୁମ ନିୟନ୍ତ୍ରଣ
GenericName[pa]=ਵਾਲੀਅਮ ਕੰਟਰੋਲ
GenericName[pl]=Kontrola głośności
GenericName[pt]=Controlo de Volume
GenericName[pt_BR]=Controle de volume
GenericName[ru]=Громкость
GenericName[sk]=Ovládanie hlasitosti
GenericName[sr]=Контрола јачине звука
GenericName[sr@latin]=Kontrola jačine zvuka
GenericName[sv]=Volymkontroll
GenericName[ta]=ஒலியளவு கட்டுப்பாடு
GenericName[te]=ధ్వని నియంత్రణ
GenericName[th]=ตัวควบคุมเสียง
GenericName[tr]=Ses Denetimi
GenericName[uk]=Керування гучністю
GenericName[zh_CN]=音量控制
Comment=Adjust the volume level
Comment[as]=শব্দৰ মাত্ৰা ঠিক কৰক
Comment[bn_IN]=শব্দের মাত্রা পরিবর্তন করুন
Comment[ca]=Ajusta el volum
Comment[cs]=Upravit úroveň hlasitosti
Comment[da]=Justér lydstyrkeniveau
Comment[de]=Lautstärke anpassen
Comment[el]=Ρύθμιση επιπέδου έντασης
Comment[es]=Ajustar el nivel de volumen
Comment[fi]=Säädä äänenvoimakkuutta
Comment[fr]=Régler le niveau du volume
Comment[gu]=વોલ્યુમ સ્તરને વ્યવસ્થિત કરો
Comment[hi]=आवाज़ स्तर निर्धारित करें
Comment[hu]=Hangerő beállítása
Comment[it]=Regola il livello del volume
Comment[ja]=音量レベルを調整する
Comment[kn]=ಧ್ವನಿ ಪ್ರಮಾಣದ ಮಟ್ಟವನ್ನು ಹೊಂದಿಸಿ
Comment[ml]=ശബ്ദ ലവല്‍ ഉ‍ചിതമാക്കുക
Comment[mr]=ध्वनिमान स्तर सुस्थित करा
Comment[nl]=Geluidsniveau aanpassen
Comment[or]=ଭଲ୍ୟୁମ ସ୍ତରକୁ ସଜାଡ଼ନ୍ତୁ
Comment[pa]=ਵਾਲੀਅਮ ਲੈਵਲ ਅਡਜੱਸਟ ਕਰੋ
Comment[pl]=Dostosowanie poziomu głośności
Comment[pt]=Ajustar o nível do volume
Comment[pt_BR]=Ajuste o nível do volume
Comment[ru]=Настройка уровня громкости
Comment[sk]=Upraviť úroveň hlasitosti
Comment[sr]=Подесите ниво јачине звука
Comment[sr@latin]=Podesite nivo jačine zvuka
Comment[sv]=Justera volymnivån
Comment[ta]=ஒலியளவு நிலையை சரிப்படுத்து
Comment[te]=ధ్వని స్థాయిను సర్దుము
Comment[th]=ปรับระดับเสียง
Comment[tr]=Ses şiddetini ayarla
Comment[uk]=Скоригуйте рівень гучності
Comment[zh_CN]=调节音量水平
Exec=pavucontrol
Icon=multimedia-volume-control
StartupNotify=true
Type=Application
Categories=AudioVideo;Audio;Mixer;GTK;
